# Statistik-Labor Testat Aufgabe 1
***Hinweise:***
- Bitte überprüfen Sie Ihre Resultate vor der Abgabe Ihre Ergebnisse mit den Teilergebnissen aus der Datei ***Teilergebnisse_xy.txt***. In der Datei bekommen Sie jeweils die ersten beiden Nachkommastellen des Durchschnittsalters.
- Die Unterlagen sind im **pdf-Format** in Moodle hochgeladen abzugeben. Richtige Lösungen werden nicht mehr an Sie zurückgegeben. Eine Abgabe per Email ist nicht möglich.
- Bitte füllen Sie das jeweilige **Deckblatt** mit aus und geben es mit Ihrer Lösung zusammen ab.

***Aufgabenstellung:***<br>
Sie sollen für die Personalabteilung der NANUAG die Altersverteilung der Beschäftigten analysieren. <br>
In der Datei **sr_aufg_1_xy.txt** im Unterverzeichnis **Endziffer_xy** (*„xy“ steht für die beiden Endziffern Ihrer Matrikelnummer*) finden Sie die dafür erforderlichen Daten. <br>
Diese Datei enthält folgende fünf Felder, die durch Semikolons getrennt sind: Personalnummer, Anrede („Herr“ oder „Frau“), Vorname, Nachname, Geburtsdatum.

## 1. Daten einlesen
Lesen Sie Daten in **Python** bzw. ein **Jupyter Notebook** ein. Speichern Sie sie in einem **Pandas DataFrame** ab.

***Tipp:*** Bitte beachten Sie bei der Abgabe, dass Sie auf keinen Fall die Liste mit den 100 Datensätzen ausgeben! Verwenden Sie dafür zum Beispiel die `dataframe.head(x)`-Funktion.

In [2]:
import pandas as pd

#ToDo: 1. Ersetzen Sie im Dateinamen xy durch entsprechende Matrikelnummer
#      2. Lassen Sie sich alle Daten anzeigen, um "fehlerhafte" Daten zu erkennen

data = pd.read_csv('datasets/sr_aufg_1_13.txt', sep=';', 
            encoding='unicode_escape', na_values='.', header = None, 
            names=['Pers.Nr.', 'Anrede', 'Vorname', 'Nachname', 'Geburtsdatum'])
data

     Pers.Nr. Anrede      Vorname    Nachname       Geburtsdatum
0           1   Herr       Martin  Zimmermann         11.10.1702
1           2   Frau    Felicitas     Schmidt         08.02.1946
2           3   Frau        Marie       Fuchs         19.04.1952
3           4   Herr          Uwe       Kraft         23.02.1967
4           5   Herr       Stefan        Vogt         17.07.1964
..        ...    ...          ...         ...                ...
107       108   Herr      Michael      Kleber         18.01.1970
108       109   Herr      Andreas     Fischer             28.10.
109       110   Herr      Philipp    Bischoff  am 19. April 1968
110       111   Frau         Lena       Bauer         16.01.1957
111       112   Herr  Hans-Jürgen      Berger         17.06.1963

[112 rows x 5 columns]

## 2. Daten bereinigen
Führen Sie eine Datenbereinigung durch. <br>
Listen Sie in einer Tabelle auf, welche (Daten-)Sätze Sie gelöscht und welche Sätze Sie wie korrigiert haben. 

***Tipp:*** Sie können hierzu die Python Funktionen `dataframe.drop()` und `dataframe.at()` verwenden. <br>
***Beispiellösung:***
![Beispiellösung](https://drive.google.com/uc?id=1z5Gydg1HzoxZLo428862fsgsKyaHKKm9)

In [3]:
#create new data frame as changelog
data_changes = pd.DataFrame(columns=['Pers.Nr.', 'Anrede', 'Vorname', 'Nachname', 'Geburtsdatum', 'Datensatz?', 'Typ des Fehlers'])

#fill new dataframe with changes 
data_changes.loc[0] = data.loc[0]
data_changes.at[0, 'Datensatz?'] = 'Löschen'
data_changes.at[0, 'Typ des Fehlers'] = 'Datum ungültig'

data_changes.loc[1] = data.loc[8]
data_changes.at[1, 'Datensatz?'] = 'Löschen'
data_changes.at[1, 'Typ des Fehlers'] = 'Jahr 25408?'

data_changes.loc[2] = data.loc[25]
data_changes.at[2, 'Datensatz?'] = 'Löschen'
data_changes.at[2, 'Typ des Fehlers'] = 'Datum N/A'

data_changes.loc[3] = data.loc[35]
data_changes.at[3, 'Datensatz?'] = 'Korrektur'
data_changes.at[3, 'Typ des Fehlers'] = 'Eintrag falsche Spalte'

data_changes.loc[4] = data.loc[44]
data_changes.at[4, 'Datensatz?'] = 'Löschen'
data_changes.at[4, 'Typ des Fehlers'] = 'Datum N/A'

data_changes.loc[5] = data.loc[45]
data_changes.at[5, 'Datensatz?'] = 'Löschen'
data_changes.at[5, 'Typ des Fehlers'] = 'Datum N/A'

data_changes.loc[6] = data.loc[59]
data_changes.at[6, 'Datensatz?'] = 'Löschen'
data_changes.at[6, 'Typ des Fehlers'] = 'Datum N/A'

data_changes.loc[7] = data.loc[77]
data_changes.at[7, 'Datensatz?'] = 'Löschen'
data_changes.at[7, 'Typ des Fehlers'] = 'Datum N/A'

data_changes.loc[8] = data.loc[105]
data_changes.at[8, 'Datensatz?'] = 'Löschen'
data_changes.at[8, 'Typ des Fehlers'] = 'Jahr 2561?'

data_changes.loc[9] = data.loc[108]
data_changes.at[9, 'Datensatz?'] = 'Löschen'
data_changes.at[9, 'Typ des Fehlers'] = 'Datum N/A (Jahr fehlt)'

data_changes.loc[10] = data.loc[109]
data_changes.at[10, 'Datensatz?'] = 'Korrektur'
data_changes.at[10, 'Typ des Fehlers'] = 'Format Datum'

#correct data
data.loc[35, 'Geburtsdatum'] = data.loc[35, 'Nachname']
data.at[35, 'Vorname'] = 'Walter'
data.at[335, 'Nachname'] = 'Knecht'

data.at[109, 'Geburtsdatum'] = '19.04.1968'

#remove invalid data from original
data = data.drop([0, 8, 25, 44, 45, 59, 77, 105, 108])

#reset index
data.reset_index(drop=True, inplace=True)
#display "changelog"
data_changes

,Pers.Nr.,Anrede,Vorname,Nachname,Geburtsdatum,Datensatz?,Typ des Fehlers
0,1,Herr,Martin,Zimmermann,11.10.1702,Löschen,Datum ungültig
1,9,Frau,Karin,Schnell,10.03.25408,Löschen,Jahr 25408?
2,26,Frau,Emma,Kirchner,,Löschen,Datum N/A
3,36,Herr,Walter Knecht,25.02.1969,NaN,Korrektur,Eintrag falsche Spalte
4,45,Frau,Ingrid,Mayer,18.,Löschen,Datum N/A
5,46,Herr,Anton,Braun,xxxx,Löschen,Datum N/A
6,60,Frau,Diana,Schwab,YPTUTksyNg,Löschen,Datum N/A
7,78,Herr,Joachim,Weber,???,Löschen,Datum N/A
8,106,Herr,Bertram,Klein,16.05.2561,Löschen,Jahr 2561?
9,109,Herr,Andreas,Fischer,28.10.,Löschen,Datum N/A (Jahr fehlt)
10,110,Herr,Philipp,Bischoff,am 19. April 1968,Korrektur,Format Datum

## 3. Alter bestimmen
Berechnen Sie das Alter der Beschäftigten zum Stichtag 31.12.2005. Mit „Alter“ ist hier die Anzahl der vollendeten Lebensjahre gemeint. <br>
*Beispiel:* Wer am 30.06.1975 geborgen ist, ist zum Stichtag 30 Jahre alt. <br>
(Niemand würde von sich sagen, er wäre „30,5 Jahre alt“.) Folglich wird diese Person in der Alterklasse 21 – 30 Jahre mitgezählt.

***Tipp:*** In Python ist hierzu die Pandas-Bibliothek mit ihre Funktion `pandas.to_datetime()`, sowie `pandas.year` nützlich.

In [4]:
data['Geburtsdatum'] = pd.to_datetime(data['Geburtsdatum'], format='%d.%m.%Y')

#new dataframe for age by full years
data_age = pd.DataFrame(columns=['Geburtsjahr', 'Alter'])
data_age['Geburtsjahr'] = data['Geburtsdatum'].dt.year

#calculate age until 31.12.2005 and insert in original data df
reference_date = pd.to_datetime('2005-12-31')
data['Alter'] = reference_date.year - data_age['Geburtsjahr']

data7z

     Pers.Nr. Anrede      Vorname  Nachname Geburtsdatum  Alter
0         2.0   Frau    Felicitas   Schmidt   1946-02-08   59.0
1         3.0   Frau        Marie     Fuchs   1952-04-19   53.0
2         4.0   Herr          Uwe     Kraft   1967-02-23   38.0
3         5.0   Herr       Stefan      Vogt   1964-07-17   41.0
4         6.0   Frau       Nicole    Anders   1963-11-22   42.0
..        ...    ...          ...       ...          ...    ...
99      108.0   Herr      Michael    Kleber   1970-01-18   35.0
100     110.0   Herr      Philipp  Bischoff   1968-04-19   37.0
101     111.0   Frau         Lena     Bauer   1957-01-16   48.0
102     112.0   Herr  Hans-Jürgen    Berger   1963-06-17   42.0
103       NaN    NaN          NaN    Knecht          NaT    NaN

[104 rows x 6 columns]

## 4. Säulendiagramm mit Altersverteilung
Stellen Sie die Altersverteilung der Beschäftigten in einem gruppierten Säulendiagramm dar, in dem Männer und Frauen getrennt ausgewiesen werden.<br>
Es sollen die Altersklassen bis (einschließlich) 20 Jahre, 21 – 30 Jahre, 31 – 40 Jahre, 41 – 50 Jahre und über 50 Jahre gewählt werden.

***Tipp:*** Sie benötigen hierfür die Python Bibliothek **Matplotlib** und **NumPy** sowie aus **Pandas** die Funktion `value_counts()`. <br>
***Beispiellösung:***
<div>
<img src="https://drive.google.com/uc?id=1f7Vz3JuSa958w8-dBTnPSI24hJxWa17F" width="300"/>
</div>

In [5]:
import matplotlib.pyplot as mp
import numpy as np

#defining age_groups
bins = [0, 20, 30, 40, 50, np.inf]
labels = ['0,20', '20,30', '30,40', '40,50', '50,20']

data['Altersgruppe'] = pd.cut(data['Alter'], bins=bins, labels=labels, right=False)
age_groups_male = data[data['Anrede'] == 'Herr']['Alter'].value_counts(sort=False).fillna(0)
age_groups_female = data[data['Anrede'] == 'Frau']['Alter'].value_counts(sort=False).fillna(0)

#plotting
x = np.arange(len(labels))
width = 0.35

## 5. Kreis-/Tortendiagramm der Altersverteilung
Stellen Sie die Altersverteilung der männlichen Beschäftigten und der weiblichen Beschäftigten in je einem Kreisdiagramm („Tortendiagramm“) dar. <br>
Die Kreissektoren sind mit den zugehörigen Prozentzahlen zu beschriften. 

***Beispiellösung:***
<div>
<img src="https://drive.google.com/uc?id=17Z5Z8OgKw3DE4U_vD3axd7vhkkkD-N9m" width="300"/>
</div>

## 6. Kennzahlen
Berechnen Sie **Mittelwert**, **empirische Varianz**, **empirische Standardabweichung**, **Median** und **Spannweite** der Alterszahlen: 
- für alle Beschäftigen und
- getrennt für Männer und Frauen.

***Beispiellösung:***
<div>
<img src="https://drive.google.com/uc?id=1adhKBVlds5OlO-9B5CClT2ybPolv5wVW" width="300"/>
</div>